.sidebar_container {
    position: fixed;
    width: 25%;
    max-width: 250px;
    min-width: 100px;
    height: 100vh;
    border-right: 1px solid #262626;
    transition: max-width 500ms, min-width 500ms;
    z-index: 2;
}

.ig_logo{
    width: 25px;
    min-width: 25px;
    min-height: 25px;
}

.sidebar_container.expand {
    max-width: 70px;
    min-width: 70px;
}

.sidebar_body {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    height: 100vh;
    padding: 20px 10px;
    background-color: #000;
}

.sidebar_logo_container {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 15px;
    padding: 8px 10px;
    text-decoration: none;
}

.sidebar_logo_container>svg {
    width: 25px;
    height: 25px;
}

.logo_label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    font-size: 21px;
    letter-spacing: 1px;
}

.sidebar_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar_hamburger_menu_container {
    position: relative;
    margin-top: auto;
}

.sidebar_hamburger_menu {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    padding: 12px 10px;
    margin: 4px 0;
    border-radius: 10px;
    transition: 0.25s;
}

.sidebar_hamburger_menu:hover {
    background-color: #ffffff1a;
}

.sidebar_hamburger_menu_icon svg {
    width: 30px;
    height: 30px;
    transition: 0.25s;
}

.sidebar_hamburger_menu:hover .sidebar_hamburger_menu_icon svg {
    transform: scale(1.1);
}

.sidebar_hamburger_menu_label {
    padding-left: 15px;
}