.sidebar_content_item {
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row;
    color: #fff;
    padding: 13px 10px;
    margin: 5px 0;
    border-radius: 10px;
    transition: transform 0.25s;
}

.sidebar_content_item.active .sidebar_content_item_name {
    font-weight: 700;
}

.sidebar_content_item_name {
    padding-left: 15px;
}

.sidebar_content_item:hover {
    background-color: #ffffff1a;
}

.sidebar_content_item_icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar_content_item_icon svg {
    transition: 0.25s;
}

.sidebar_content_item:hover .sidebar_content_item_icon svg {
    transform: scale(1.1);
}

.sidebar_content_item_profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    min-width: 25px;
    min-height: 25px;
    border-radius: 50%;
    overflow: hidden;
}

.sidebar_content_item:hover .sidebar_content_item_profile {
    transform: scale(1.1);
}

.sidebar_content_item_profile.active {
    border: 1px solid #fff;
}

.sidebar_content_item_profile img {
    width: 100%;
    height: auto;
}